@using LMW_Infrastructure.ViewModel.Partials.Image;

<div>
    @((MarkupString)RenderedHTML)
</div>

@code {
    [Parameter]
    public Image Image { get; set; }
    public string RenderedHTML { get; set; }

    protected override void OnInitialized()
    {
        RenderedHTML = ReturnRenderedHTML();
    }


    public string ReturnRenderedHTML()
    {
        string itemProp = "";
        string Alt = "";
        
        if (Image.ItemProp != null)
        {
            itemProp = $"itemprop=\"{Image.ItemProp}\"";
        }
        if (Image.Alt != null)
        {
            Alt = $"alt=\"{Image.Alt}\"";
        }
        
        return $"<img src=\"{Image.Value}\" {itemProp} {Alt} class=\"centerMedia\">";
    }
}
