<h1>About Me</h1>
<div class="container">
	<div class="row">
		<div class="col-sm">
			<p> Having over 5 years experience in the software industry I have worked as a software tester using mostly manual techniques and dabbled with automation. Currently I am transitioning into a support developer role. </p>
			<br>
			<h2>Hobbies and Interests</h2>
			<p>I enjoy improving my skill set by doing side projects outside of my day job, which will be displayed on this portfolio site. Some of this stems for my passion for gaming which I have done from a young age. This helped ignite my interest in computing as a whole. I also do kick boxing for both health and enjoyment.</p>
		</div>
		<div class="col-sm">
			<img width="75%" src="~/Images/LewisWhittard.png" />
		</div>
	</div>
</div>