<h2>My Qualifications</h2>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Qualification</th>
			<th scope="col">Result</th>
			<th scope="col">Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Software Development Technician Level 3</td>
			<td>Pass</td>
			<td>2018-2020</td>
		</tr>
		<tr>
			<td>BTEC Level 3 Extended Diploma in Creative Media Production (Game Development) (QCF)</td>
			<td>Merit, Merit, Pass</td>
			<td>2014-2016</td>
		</tr>
	</tbody>
</table>