<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		nav {
		}
	</style>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Lewis Whittard Software Development</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/Overlay.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
				<a class="navbar-brand" id="LogoLink" asp-area="" asp-controller="Home" asp-action="Index">
					<div style="width: 128px; height: 128px;">
						<img src="~/Images/LMWlogo.png" width="100%" height="100%">
					</div>
				</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" id="HomeNavBarButton" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" id="SearchNavBarButton" asp-area="" asp-controller="search" asp-action="index">Search</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Lewis Matthew Whittard Software Development
            @*<a target="_blank" href=""><img height="32" style="float: right; margin:4px" src="~/Images/Youtube.png" /></a>
			<a target="_blank" href=""><img height="32" style="float: right; margin:4px" src="~/Images/Twitter.png" /></a>*@
			<a target="_blank" style="float: right; margin:4px" id="Linkedin" href="https://www.linkedin.com/in/lewis-whittard-092167157/"><img height="32" style="float: right; margin:4px" src="~/Images/Linkedin.png" /></a>
			@*<a target="_blank" href=""><img height="32" style="float: right; margin:4px" src="~/Images/Instagram.png" /></a>
			<a target="_blank" href=""><img height="32" style="float: right; margin:4px" src="~/Images/Facebook.png" /></a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
