@using LMW_Infrastructure.ViewModel.Partials.Image;

<div>
    @((MarkupString)RenderedHTML)
</div>

@code {
    [Parameter]
    public Image Image { get; set; }
    public string RenderedHTML { get; set; }

    protected override void OnInitialized()
    {
        RenderedHTML = ReturnRenderedHTML();
    }


    public string ReturnRenderedHTML()
    {
        string itemProp = Image.ItemProp != null ? $"itemprop=\"{Image.ItemProp}\"" : "";
        string Alt = Image.Alt != null ? $"alt=\"{Image.Alt}\"" : "";
        
        return $"<img src=\"{Image.Value}\" {itemProp} {Alt} class=\"centerMedia\">";
    }
}
