@model LMWDev.Models.ClusterContentModel


@{
	ViewData["Title"] = "Portfolio Piece";
}

@using LMWDev.Views.Components

<h2>@ViewData["Title"]</h2>

<!-- Render your Blazor component -->
<component type="typeof(HeaderBlock)" render-mode="ServerPrerendered" param-Test='"Hello"' />