@model LMWDev.Models.HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<body>

    <h1>Lewis Whittard</h1>

    <h2>Developer & Support Analyst | Championing Software Sustainability, Quality, and Continuous Improvement</h2>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p>With a solid foundation built through roles as an Apprentice Tester, Junior Tester, Junior Developer, and most recently as a Second Line Support Analyst and Level 4 Apprentice Developer, I've gained hands-on experience across multiple facets of the software industry. I'm always looking to expand my skill set, and I continue to explore new technologies and development practices through personal projects and ongoing learning.</p>
                <br>
                <h2>Hobbies and Interests</h2>
                <p>Outside of work, I stay active with kickboxing and snowboarding, both of which keep me energized and focused. I also enjoy travelling whenever I get the chance—it’s a great way to recharge and find inspiration. I’ve always had a passion for computing history and love following Formula 1, both of which fuel my curiosity and broaden my perspective on innovation and performance. Many of my side projects, which will be showcased on this portfolio site, reflect my passion for tech and creativity.</p>
            </div>
            <div class="col-sm">
                <img width="75%" src="~/Images/LewisWhittard.jpg" />
            </div>
        </div>
    </div>

    <h2>Employment History</h2>
    <div class="mb-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Role</th>
                    <th scope="col">Employer</th>
                    <th scope="col">Dates</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Support Consultant (2nd Line Support Analyst)</td>
                    <td>RLDatix</td>
                    <td>Feb 2024 – Present</td>
                </tr>
                <tr>
                    <td>Junior Developer</td>
                    <td>365 Response</td>
                    <td>Aug 2021 – Nov 2023</td>
                </tr>
                <tr>
                    <td>Junior Software Tester</td>
                    <td>365 Response</td>
                    <td>Apr 2020 – Aug 2021</td>
                </tr>
                <tr>
                    <td>Apprentice Software Tester</td>
                    <td>365 Response</td>
                    <td>Aug 2018 – Apr 2020</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>My Qualifications</h2>
    <div class="mb-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Qualification</th>
                    <th scope="col">Result</th>
                    <th scope="col">Year</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Software Developer Level 4</td>
                    <td>Ongoing</td>
                    <td> August 2024 – Present</td>
                </tr>
                <tr>
                    <td>Software Development Technician Level 3</td>
                    <td>Pass</td>
                    <td>2018–2020</td>
                </tr>
                <tr>
                    <td>BTEC Level 3 Extended Diploma in Creative Media Production (Game Development) (QCF)</td>
                    <td>Merit, Merit, Pass</td>
                    <td>2014–2016</td>
                </tr>
            </tbody>
        </table>
        <h3>Professional Certifications</h3>
        <div class="mb-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Certification</th>
                        <th scope="col">Issuer</th>
                        <th scope="col">Issued</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ISTQB® Certified Tester – AI Testing (V1.0)</td>
                        <td>iSQI Group</td>
                        <td>May 2025</td>
                    </tr>
                    <tr>
                        <td>ISTQB® Certified Tester – Test Automation Engineering (2016)</td>
                        <td>iSQI Group</td>
                        <td>May 2024</td>
                    </tr>
                    <tr>
                        <td>ISTQB® Certified Tester – Foundation Level (4.0)</td>
                        <td>iSQI Group</td>
                        <td>April 2024</td>
                    </tr>
                    <tr>
                        <td>BCS Level 3 Certificate in Programming (603/1192/7)</td>
                        <td>BCS, The Chartered Institute for IT</td>
                        <td>January 2019</td>
                    </tr>
                    <tr>
                        <td>BCS Level 3 Certificate in Software Development Context and Methodologies (603/1191/5)</td>
                        <td>BCS, The Chartered Institute for IT</td>
                        <td>January 2019</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

