@model LMWDev.Models.HomeModel
@{
	ViewData["Title"] = "Home Page";
}

<body>
	@Html.Partial("Partial/_Description.cshtml")
	@Html.Partial("Partial/_QualificationsTable.cshtml")
	@Html.Partial("Partial/_SearchIcons.cshtml")
</body>

