@using Page_Library.Page.Entities.ContentBlock.Interface
@using Page_Library.Page.Entities.SearchResult.Interface
@code {
    [Parameter] public List<IContentBlock> Blocks { get; set; }
    [Parameter] public List<ISearchResult>? SearchResults { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string PublishDate { get; set; }
    [Parameter] public string? SearchResultsHeader { get; set; }
}

<body>
    <video preload="none" aria-hidden="true" autoplay muted loop playsinline id="bg-video">
        <source src="/Videos/WebsiteBackground.mp4" type="video/mp4">
    </video>

    <div class="content-wrapper">
        <section class="page-header">
            <h1>@Title</h1>
            <p class="publish-date">Published on: @PublishDate</p>
        </section>

        @foreach (var block in Blocks)
        {
            switch (block)
            {
                case Page_Library.Page.Entities.ContentBlock.HeaderBlock header:
                    <HeaderBlock Block="header" />
                    break;

                case Page_Library.Page.Entities.ContentBlock.HyperlinkBlock hyperlink:
                    <HyperlinkBlock Block="hyperlink" />
                    break;

                case Page_Library.Page.Entities.ContentBlock.ImageBlock image:
                    <ImageBlock Block="image" />
                    break;

                case Page_Library.Page.Entities.ContentBlock.ParagraphBlock paragraph:
                    <ParagraphBlock Block="paragraph" />
                    break;

                case Page_Library.Page.Entities.ContentBlock.VideoBlock video:
                    <VideoBlock Block="video" />
                    break;

                default:
                    <p>Unknown block type</p>
                    break;
            }
        }

        @if (SearchResultsHeader != null)
        {
            <h2>@SearchResultsHeader</h2>
        }

        @if (SearchResults != null && SearchResults.Any())
        {
            <div class="mt-4">
                <ul class="list-group">
                    @foreach (var result in SearchResults)
                    {
                        <SearchResult Result="result" />
                    }
                </ul>
            </div>
        }
    </div>
</body>