@code {
    [Parameter]
    public Page_Library.Page.Entities.MetaData.Interface.IMeta meta { get; set; }
}

@if (meta != null)
{
    <head>
        <title>@(string.IsNullOrWhiteSpace(meta.MetaTitle) ? "Untitled Page" : meta.MetaTitle)</title>
        <meta name="description" content="@(string.IsNullOrWhiteSpace(meta.MetaDescription) ? "No description available." : meta.MetaDescription)" />
        <meta name="keywords" content="@((meta.MetaKeywords != null && meta.MetaKeywords.Any()) ? string.Join(", ", meta.MetaKeywords) : "default, keywords")" />
        <meta property="og:image" content="@meta.Content?.Path ?? " /images/default-og-image.png"" />
    </head>
}
else
{
    <head>
        <title>Untitled Page</title>
        <meta name="description" content="No description available." />
        <meta name="keywords" content="default, keywords" />
        <meta property="og:image" content="/images/default-og-image.png" />
    </head>
}