@using Page_Library.Page.Entities.ContentBlock
@using Microsoft.AspNetCore.Components

@code {
    [Parameter]
    public Page_Library.Page.Entities.ContentBlock.ImageBlock Block { get; set; }
}


@if (Block?.Content?.Path != null)
{
    var imageContent = Block.Content as Page_Library.Content.Entities.Content.Image;
    if (imageContent != null)
    {
        <img src="/Images/@Block.Content.Path" alt="@imageContent.Alt" />
    }
    else
    {
        <p>Invalid image content type.</p>
    }
}
else
{
    <p>Image not available.</p>
}

