@using Page_Library.Page.Entities.ContentBlock
@using Microsoft.AspNetCore.Components

@code {
    [Parameter]
    public Page_Library.Page.Entities.ContentBlock.VideoBlock Block { get; set; }
}

@if (Block?.URL != null)
{

    <div style="text-align: @Block.Alignment;">
        <figure style="display: inline-block; max-width: 100%; width: 100%;">
            <video controls style="width: 100%; height: auto;" poster="@Block.ThumbnailURL">
                <source src="@Block.URL" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
            <figcaption>@Block.Description</figcaption>
        </figure>
    </div>
}
else
{
    <p>Video not available.</p>
}
